.trans-05{
    transition: 0.5s;
}

.trans-1{
    transition: 1s;
}

/* Bootstrap Component */
.popover{
    color: white;
    background-color: #68e7ec;
    border-radius: 0;
    border: none;
}

.arrow{
    display: none;
    visibility: hidden;
}